.left {
  width: 40%;
  padding: 12px;
  background: #141414;
  border-right: 1px solid #2a2a2a;
  display: flex;
}

.left textarea {
  width: 100%;
  height: 100%;
  resize: none;
  font-family: "JetBrains Mono", monospace;
  font-size: 14px;
  line-height: 1.6;
}


